@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;

  /* font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
  /* font-family: 'Montserrat', sans-serif; */
}

.swiper-button-next, 
.swiper-button-prev {
    color: rgb(255, 255, 255);
    background-color: white;
    padding: 2.4rem;
    border-radius: 50%;
    background: transparent;
    background: transparent;
    border: 1px solid white;
    width: 20rem;
  
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.2rem;
color: white;

}



root {
  --swiper-navigation-size: 4px;
}
.swiper-button-next,
.swiper-button-prev {
 
  border: 1px solid white;
  top: var(--swiper-navigation-top-offset, 94%);

  
}
 

html {
  font-size: 50.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;

  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(251, 251, 251);
  /* font-family: 'Poppins', sans-serif; */
}

section {
  padding: 5rem 9%;
}

.whatsappapp{
  display: flex;
  /* position: fixed; */
  bottom:  4rem;
  z-index: 1000000000;
  display: flex;
   flex-direction: column;
   position: fixed;


}.whatsappapp img{
   
margin: 1rem .8rem;

width: 3.5rem;
}


@media screen and  (max-width:970px) {
  .whatsappapp{
      display: none;
  }

}

.heading {
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}

.bighead {
  font-size: 5.9rem;
  color: rgb(216, 179, 67);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4rem;
  margin: 3rem 0;
}

.heading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0.1rem;
  width: 100%;
  background: #ffffff;
  z-index: -1;
}

.heading span {
  font-size: 3rem;
  color: #fff;
  background: #e5262b;
  padding: 0.5rem 1.5rem;
  border: 0.1rem solid #aaa;
  border-radius: 0.5rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  padding: 1rem 9%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.79);
}
 

.logo {
  width: 23rem;
  padding: 1rem 0;
}
.logo img {
  width: 100%;
}
.menu_comp {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.booknow_header a {
  background: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 1.85rem;
  padding: 0.9rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navbar a {
  display: inline-block;
  padding: 1.5rem 1.2rem;
  font-size: 2rem;
  /* font-weight: bolder; */

  list-style: none;
  text-decoration: none;
  color: rgb(226, 226, 226);
  letter-spacing: 0.25rem;

  z-index: 1000;
  font-weight: 700;

  font-family: "Poppins", sans-serif;
}

.header .navbar a:hover {
  color: #de860b;
}

#menu-btn {
  display: none;
  list-style: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 1rem;
  border-radius: 1rem;
}
.socialicons {
  display: none;
}

/* --------------------home */
section {
  padding: 4rem 9%;
}

.home {
  padding: 0;
  /* cover pe ajayega*/
  font-family: "Open Sans", sans-serif;
}

.swiper-slide {
  height: 100vh;
  background-size: cover !important;
  background-position: center !important;
  object-fit: cover;

  /*end me ajata he*/
  /* padding: 2rem 9%; */
  object-position: center;
}
.box {
  height: 95vh;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: center;
}

.box.second {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 100%;
  padding-top: 5rem;
  background-color: rgb(29, 25, 25, 0.39);
  /* z-index: 100; */
  text-align: center;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.content h1 {
  /* text-transform: uppercase; */
  font-size: 4.8rem;

  margin-bottom: 3rem;
  text-align: center;
  /* font-weight: bolder; */
  font-family: "Open Sans", sans-serif;
}

.buttons {
  background-color: #be7f31;
  font-size: 1.7rem;
  color: white;
  padding: 1.2rem 1.8rem;
  letter-spacing: 0.2rem;
  border-radius: 0.5rem;
  font-family: "Poppins", serif;
  /* margin: 0.5rem;  */
}

.bookingcont {
  width: 100%;
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap; */
  /* height: 10rem; */
  text-align: left;
}

.bookingcont h2 {
  text-transform: uppercase;
  font-size: 2.1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  /* padding: 0 1.5rem; */
  color: #be7f31;
  letter-spacing: 0.3rem;
  /* font-family: "Open Sans", sans-serif; */

  font-family: "Josefin Slab", serif;
}

.booking {
  background-color: rgb(252, 252, 252);

  position: absolute;

  bottom: -80px;
  z-index: 10;
  padding: 1.9rem;
  margin: 0 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 2.2rem;
  text-align: left;
}

.booking input,
.booking select {
  width: 29rem;
  height: 6rem;
  margin: 1rem;
  padding: 0.9rem;
  border-radius: 0.5rem;
  font-size: 1.9rem;
  border: 1px solid rgb(80, 80, 80);
  color: rgb(86, 86, 86);
  letter-spacing: 0.1rem;
}

.booking label {
  text-align: left;
  width: 100%;
  font-size: 1.75rem;
  color: #000000;
  font-family: "Poppins", sans-serif;

  letter-spacing: 0.8px;
}

.booking .form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.booking .form .labelblock {
  display: flex;
  flex-direction: column;
}

.booking .buttons {
  margin-top: 1rem;
}

@media screen and (max-width: 970px) {
  .booking {
    bottom: -350px;
  }
  .bookingcont {
    /* width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap; */
    height: 25rem;
    text-align: left;
  }

  .booking input,
  .booking select {
    width: 50rem;
    margin: 2rem 0;
    margin-left: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
  }
}

/* -------------welcome---------------- */

.welcome {
  padding: 2rem 10%;
  /* height: 50vh; */
  text-align: center;
  margin-top: 20rem;
  /* margin: 19rem; */
}

.welcome_cont {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
}
.welcome_cont p {
  font-size: 15.9px;
  color: black;

  text-align: center;
  line-height: 2.5rem;
  margin: 5rem 0;
}
.maincont span {
  color: #be7f31;
  font-family: "Josefin Slab", serif;
  font-size: 2.2rem;

  font-weight: bolder;
  /* text-transform: uppercase; */
  font-family: "Josefin Slab", serif;

  letter-spacing: 0.2rem;
  color: #be7f31;

  letter-spacing: 0.3rem;
}

.maincont h1 {
  font-size: 6rem;
  font-family: "Josefin Slab", serif;
  margin: 2rem 0;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}



@media screen and (max-width: 973px) {
  .welcome {
    padding: 2rem 5%;

    margin-top: 35rem;
  }
}

@media screen and (max-width: 540px) {
  
  .content h1{
    font-size: 3.9rem;
    padding: 0 1.5rem;
  }
  
  
  .welcome {
    padding: 2rem 5%;

    margin-top: 36rem;
  }
  .welcome_cont p {
    line-height: 3.5rem;
  }
}

/* ---------------------welcome ends---------- */

.about {
  width: 100vw;

  margin: 10rem 0;
  padding: 2rem 9%;
}

.about_cont {
  display: flex;
  flex-wrap: wrap;
  gap: 12rem;

  justify-content: space-between;
}

.ab_img {
  flex: 40rem;
  position: relative;
}

.ab_img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.51);
}
.ab_img img {
  width: 100%;
  height: 75rem;
  object-fit: cover;
  object-position: center;
  display: block;
}
.aboutus {
  flex: 50rem;
  /* background-color: rgb(218, 218, 218); */

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;

  align-items: center;
}

.aboutus h1 {
  font-size: 3.3rem;

  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Josefin Slab", serif;

  letter-spacing: 0.2rem;
  color: #be7f31;

  letter-spacing: 0.3rem;

  text-align: left;
}

.aboutus p {
  font-size: 15.6px;
  color: rgb(0, 0, 0);
  text-align: left;

  line-height: 2.9rem;

  font-family: "Montserrat", sans-serif;
}

.aboutus .buttons {
  background-color: #be7f31;
  font-size: 2.2rem;
  color: white;
  padding: 0.8rem 2rem;

  letter-spacing: 0.2rem;

  border-radius: 0.5rem;
  font-family: "Poppins", serif;
  text-align: center;
}

.aboutus .service {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}

.aboutus .services1 {
  margin: 5rem 1.5rem;
  /* margin-right:4rem ; */
  /* background-color: rgb(227, 227, 227); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 10px;

  padding: 3.9rem;
  border-radius: 2rem;

  text-align: center;
}
.services1 h3 {
  font-size: 5.5rem;
  margin: 2.9rem 0;
  font-weight: bolder;
  letter-spacing: 0.3rem;
  display: flex;
  justify-content: center;
}

.services1 h6 {
  font-size: 1.8rem;
  color: rgb(126, 126, 126);
}
.services1 .servicons {
  font-size: 5.9rem;
  color: #be7f31;
}

@media screen and (max-width: 960px) {
  .aboutus p {
    margin: 3rem 0;
  }
}

@media screen and (max-width: 550px) {
 
 
 
  .aboutus .service {
    justify-content: center;
  }

  .about {
    padding: 2rem 5%;
  }

  .aboutus .services1 {
    margin: 4rem 0;
    margin-right: 1rem;

    width: 30rem;

    padding: 2.9rem 0;
  }

  .aboutus .buttons {
    margin-top: 2rem;
    text-align: center;
  }

  .aboutus h1 {
    letter-spacing: 0;
    /* margin-left: 1rem; */
    text-align: center;
    font-size: 4.2rem;
  }
}

/* ---------------------rooms ---------- */

.rooms {
  text-align: center;
  margin: 13rem 0;

  padding: 2rem 9%;
}
.rooms h1 {
  font-size: 4rem;
  padding: 2rem 9%;
}

.rooms_cont {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.cont1 {
  flex: 1 1 40rem;
  margin: 2rem 0;
  box-shadow: rgba(191, 191, 191, 0.24) 0px -5px 8px;
  padding-bottom: 2rem 0;
}

.cont1 img {
  width: 100%;
  height: 40rem;
}
.cont1 h2 {
  font-size: 2.2rem;
  margin: 3rem 0;
  letter-spacing: 0.3rem;
  font-family: "Josefin Slab", serif;
  text-transform: uppercase;
}
.cont1 p {
  font-size: 15px;
  margin-bottom: 3rem;
  padding: 0 0.5rem;
}

.cont1 .discover {
  font-size: 12px;
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 800;
  letter-spacing: 0.2rem;
}
.cont1 .discover span {
  color: #be7f31;
  font-weight: bolder;
}

.heading {
  font-size: 2.3rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.2rem;
  color: #be7f31;
  /* margin-left: 6rem; */
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 550px) {
  .rooms {
    text-align: center;

    padding: 0 5%;
  }

  .cont1 {
    margin: 5rem 0;
  }
}
/* ---------------------gallery starts ---------- */

/* ---------------------gallery ends ---------- */

.review h1 {
  color: white;
  font-size: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  /* margin-bottom: 4rem; */
}

.review {
  height: 110vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(30, 30, 30, 0.6)),url("../images/staybg.jpg");
  
  background-position: center;
  background-size: cover;
  /* margin: 5rem 0; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed;
  text-align: center;
}

.review .review-slider {
  width: 100%;
  /* min-height: 50vh; */

  text-align: center;
}

.review .review-slider .slide {
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.review .review-slider .tryimage {
  height: 50rem;
  width: 70rem;
  position: relative;
  overflow: hidden;
}
.review .review-slider .tryimage img {
  width: 100%;

  height: 100%;
}
.tryimage .h6 {
  color: aliceblue;
  font-size: 21px;
  position: absolute;
  /* text-align: center; */

  z-index: 1000;
  /* top: 40%; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.49);
}

.tryimage .h6 span {
  color: rgb(200, 200, 200);
  font-size: 15px;
}

.tryimage .overlay {
  background-color: rgba(0, 0, 0, 0.49);
}

@media screen and (max-width: 540px) {
  .review {
    height: 120vh;
  }
}

/* /* ----------------services/faciii */

.services_home {
  background-image: linear-gradient(120deg, #ffffff 10%, #ffcc8d 130%);

  width: 100vw;
  padding: 4rem 8%;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}

.services_home .heading {
  font-weight: bolder;
  margin-top: 4rem;
  font-size: 4rem;
}
.services_home .service-card {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.services_home .serv_icons {
  padding: 2rem 0;

  font-size: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 1.5rem;
  border-radius: 3rem;
  border: 1px solid rgb(154, 154, 154);
}
.services_home .serv_icons h3 {
  font-size: 2.5rem;
  padding: 3rem 0;
  margin: 0.5rem 0;
}
.serv_icons p {
  font-size: 14.7px;
  /* padding: 0 1.2rem; */
  padding: 0 0.7rem;
}
.serv_icons .icon {
  font-size: 6.4rem;
  /* color: #be7f31;
     color: #2f2f2f; */
}
.services_home .serv_icons:hover {
  box-shadow: rgba(78, 78, 78, 0.1) 0px 4px 2px;

  color: #ffffff;

  background: #be7f31;
}
.services_home .buttons {
  margin-top: 5rem;
}

@media screen and (max-width: 920px) {
  .service-card {
    flex-wrap: wrap;
  }

  .services_home {
    padding: 8rem 1%;
  }
  .serv_icons {
    margin: 2.5rem 0.5rem;
  }
}

/* ------------testimonia---------? */

.testimonial {
  width: 100vw;
  /* height: 100vh; */

  /* text-align: center; */
  padding: 4rem 9%;
  background-image: url("../images/bg17.webp");
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* color: aliceblue; */
}

.rev_cont {
  display: flex;
  background-color: rgba(255, 255, 255, 0.6);
  flex-wrap: wrap;
  height: 75vh;
  gap: 4rem;
}
.rev_cont .swiper.testimonial_slider {
  flex: 1 1 60rem;
  padding: 0 2rem;
}

.rev_cont .swiper.testimonial_slider .swiper-slide {
  width: 100%;
  height: 100%;

  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  flex-direction: column;
  /* align-items: center; */
}

.rev_cont .swiper.testimonial_slider .swiper-slide h1 {
  text-align: center;

  font-size: 2.6rem;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
}

.rev_cont .swiper.testimonial_slider .swiper-slide p {
  font-size: 20px;
  margin: 10rem 0;
  font-style: italic;
  width: 100%;
  font-weight: 500;
  line-height: 3.9rem;
  color: #000000;
  padding: 0 2rem;
}
.rev_cont .swiper.testimonial_slider .swiper-slide .quote {
  font-size: 4.9rem;
  color: #be7f31;
  text-align: left;
}

.testimonial2 {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
}
.testimonial2 p {
  font-size: 17px;
  margin-top: 2rem;
}
.testimonial2 h2 {
  font-size: 5.1rem;
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  color: #000000;
}
.testimonial2 .rating h3 {
  font-size: 3.8rem;
  /* margin: 2rem; */

  letter-spacing: 0.3rem;
}
.rating .icons {
  font-size: 2.3rem;
  margin: 0.2rem;
}

.google {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.google img {
  width: 40px;
}
.google a {
  font-size: 1.4rem;

  list-style: none;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  margin: 0 0.5rem;
  background-color: #4285f4;
}

@media screen and (max-width: 950px) {
  .rev_cont {
    height: 130vh;
    text-align: center;
  }
}

@media screen and (max-width: 870px) {
  .rev_cont {
    text-align: center;
  }
  .testimonial2 {
    align-items: center;

    flex: 1 1 40rem;
  }

  .rev_cont .swiper.testimonial_slider {
    border-bottom: 1px solid rgb(184, 184, 184);
  }

  .rev_cont .swiper.testimonial_slider .swiper-slide h1::before {
    left: 17rem;
  }
  .testimonial {
    padding: 4rem 2%;
  }

  .rev_cont .swiper.testimonial_slider {
    height: 70rem;
  }
}

@media screen and (max-width: 540px) {
  .rev_cont .swiper.testimonial_slider .swiper-slide h1::before {
    left: 15rem;
  }
  .rev_cont {
    height: 130vh;
    text-align: center;
  }

  .testimonial {
    padding: 4rem 2%;
    margin: 4rem 0;
  }
}

 
/* ----------------footer */

.footer {
  width: 100vw;
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(39, 38, 36) 59%,
    rgb(0, 0, 0) 100%
  );
}

.footers {
  width: 100%;

  text-align: center;
  /* margin: 5rem; */
}

.footer_head h1,
.footer_head h1 span {
  font-size: 5.9rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  line-height: 1.5;
  font-family: "Josefin Slab", serif;
}

.footer_head h1 span {
  color: #be7f31;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgb(254, 254, 254);
  padding-bottom: 2rem;
  padding: 3rem 0;
  margin-bottom: 2rem;
}

.footer .menu {
  flex: 1 1 25rem;
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.keywords {
  flex: 1 1 25rem;
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
}

.container h3 {
  font-size: 3rem;
  text-transform: capitalize;
  margin: 2rem 0;
  font-weight: 800;
  color: rgb(32, 31, 31);
  letter-spacing: 0.3rem;
  color: rgb(255, 255, 255);
}

.footer .menu a {
  text-decoration: none;
  color: black;
  text-align: left;
  padding: 0.5rem 0;
  text-transform: capitalize;
  font-size: 1rem;
  color: rgb(170, 170, 170);
  font-size: 2rem;
  margin: .6rem 0;
}

.footer .menu a:hover {
  color: rgb(228, 158, 53);
  transition: 0.3s;
}

.footer .container .keywords p {
  cursor: pointer;
  text-decoration: none;

  text-transform: capitalize;
  font-size: 2rem;
  color: rgb(170, 170, 170);
  padding: 0.5rem 0;
  margin: .6rem 0;
}
.footer .container .keywords p a {
 
  color: rgb(170, 170, 170);
  
}

.footer .container .keywords p a:hover {
  color: rgb(228, 158, 53);
  transition: 0.3s;
  /* cursor: pointer; */
}

.footer .copy {
  color: white;
  text-transform: capitalize;
  letter-spacing: 0.9px;

  text-align: center;
  font-size: 1.7rem;
}

@media screen and (max-width: 500px) {
  .footer .menu {
    align-items: center;
  }
  .footer .keywords {
    align-items: center;
  }

  .footer .container {
    flex-direction: column;
  }
}
@media (max-width: 1211px) {
  html {
    font-size: 45%;
  }

  #menu-btn {
    display: inline-block;
    display: block;

    font-size: 3.8rem;
    z-index: 10000;
    margin-left: 6rem;
    border: none;
    margin-bottom: 2rem;
    color: #ffffff;
  }

  .booknow_header {
    display: none;
  }
 

  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .header {
    /* padding: 2rem; */
  }

  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    background: rgb(255, 255, 255);
    /* justify-content: space-around; */
    /* text-align: center; */
  }
  .socialicons {
    display: block;
    display: flex;
  }
  .socialicons img {
    margin-top: 2rem;
    width: 50px;
    padding: 0 0.9rem;
  }

  .header .navbar a {
    display: block;
    font-size: 3rem;
    color: #272727;
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 100%;
    letter-spacing: 0.3rem;
    margin: 0.62rem 0;
    padding: 1.5rem;
  }

  .header .callnow {
    color: #be7f31;
  }

  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
 
@media (max-width: 648px) {
  html {
    font-size: 46%;
  }

  .home .slide .content h3 strong {
    font-size: 6rem;
  }

  .home .slide .content h3 {
    font-size: 3.4rem;
  }

  .home .slide .content p {
    letter-spacing: 0.1rem;
  }

  .home .slide .content .btn {
    /* margin-top: 5rem; */
    position: absolute;
    bottom: 23rem;
  }
}

@media (max-width: 535px) {
  html {
    font-size: 45%;
  }

}

@media (max-width: 470px) {
  html {
    font-size: 44%;
  }

   
}

@media (max-width: 395px) {
  html {
    font-size: 45%;
  }
 
  
}
